<h1 align="center">About Me</h1>
<div class="well" id="about-me">
  <h4 align="center">Over the course of the next few months, I hope to...</h4>
  <hr>
  <ul>
    <li>Integrate Braintree as a subscription service to the Alpha Blog</li>
    <li>Love my family more</li>
    <li>Connect a Swift app to a Rails server</li>
  </ul>
</div>