<h1>About Me</h1>
<p>Over the course of the next few months, I hope to:</p>
<ul>
  <li>Integrate Braintree</li>
  <li>Connect a Swift app to a Rails server</li>
  <li>Love my family more</li>
</ul>

<%= link_to 'Home', root_path %>