<h1>David Miller</h1>
<p>Welcdome to my first Rails app! I'm really excited to start this new journey.</p>
<p>This is where I plan on posting quite a few of my projects.</p>

<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %>